# AWS SSM Configuration
AWS_SSM_NAME_DEV=/andb/dev/database
AWS_SSM_NAME_PROD=/andb/prod/database

AWS_REGION_DEV=us-east-1
AWS_REGION_PROD=us-east-1

# Base directory for andb operations
BASE_DIR=/path/to/your/project 