# Database Configuration for DEV
DEV_DB_HOST=localhost
DEV_DB_NAME=dev_database
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=password
DEV_DB_MAIL=dev_mail_db

# Database Configuration for PROD
PROD_DB_HOST=prod-server.com
PROD_DB_NAME=prod_database
PROD_DB_USERNAME=prod_user
PROD_DB_PASSWORD=prod_password
PROD_DB_MAIL=prod_mail_db

# Base directory for andb operations
BASE_DIR=/path/to/your/project 